<template>
<div class="container-fluid">
    <div class="col-lg-6" style="padding:5px"><h5 class="btn-acc" @click="battery=!battery">Батарейки</h5></div>
    <div class="container-fluid" v-if="battery">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="battery1.png" style="max-width:100%"/>
                    </div>
                    <div class="col-lg-8">
                        <p>На фото представлены батарейки #312 предназначенные для слуховых аппаратов. Батарейки цинковоздушные, которые герметично закрыты защитной пленкой, перед использованием батареи Вам необходимо отклеить защитную пленку и рекомендуется оставить на пару минут батарею "подышать", тем самым увеличится срок использования батарейки</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="battery2.png" style="max-width:100%"/>
                    </div>
                    <div class="col-lg-8">
                        <p>На фото представлены батарейки #675 предназначенные для слуховых аппаратов и кохлеарных имплантов. Батарейки цинковоздушные, которые
 герметично закрыты защитной пленкой, перед использованием батареи Вам необходимо отклеить защитную пленку и рекомендуется оставить на пару 
минут батарею "подышать", тем самым увеличится срок использования батарейки. 
</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:15px">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="battery3.png" style="max-width:100%"/>
                    </div>
                    <div class="col-lg-8">
                        <p>На фото представлены батарейки #10 предназначенные для внутриканальных (миниатюрных) слуховых аппаратов. Батарейки цинковоздушные, которые герметично
 закрыты защитной пленкой, перед использованием батареи Вам необходимо отклеить защитную пленку и рекомендуется оставить на пару минут батарею "подышать", 
тем самым увеличится срок использования батарейки.
</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="battery4.png" style="max-width:100%"/>
                    </div>
                    <div class="col-lg-8">
                        <p>На фото представлены батарейки #13 предназначенные для слуховых аппаратов и это самый распространенный размер батареек среди производителей слуховых аппаратов. Батарейки цинковоздушные, которые герметично закрыты защитной пленкой, перед использованием батареи Вам необходимо отклеить защитную пленку и рекомендуется оставить на пару минут батарею "подышать", тем самым увеличится срок использования батарейки. 
</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h4>Несколько фактов о батарейках для слуховых аппаратов:</h4>
        <br>
        <p>- все наши батарейки имеют международную маркировку<br>
        - батарейки  имеют  маркировку вне  зависимости от фирмы и производителя;<br>
        - срок службы батареек зависит от мощности слухового аппарата, как правило от 20-24 дней;<br>
        - батарейки цинко-воздушные, защищены специальной пленкой, начинают работать при контакте с воздухом;<br>
        - батарейки для слуховых аппаратов одноразовые, их нельзя заряжать;<br>
        - при использовании батарейки не нагреваются и не расширяются, т.к.предназначены специально для подачи заряда слуховому аппарату. Другие батарейки такого же размера расширяются при использовании и приводят внегодность контакты слухового аппарата. На фото представлены батарейки предназначенные для слуховых аппаратов и кохлеарных имплантов. Батарейки цинковоздушные, которые герметично закрыты защитной пленкой, перед использованием батареи Вам необходимо отклеить защитную пленку и рекомендуется оставить на пару минут батарею "подышать", тем самым увеличится срок использования батарейки. <br>
        - все наши батарейки имеют международную маркировку<br>
        ⚠не используйте батарейки не предназначенные для слуховых аппаратов, это может привести к поломке устройства.</p>
        <div class="container">
            <div class="row" style="margin-top:3%">
                <div class="col-lg-6">
                    <img src="battery5.png"  style="max-width:100%"/>
                </div>
                
                <div class="col-lg-6">
                    <img src="battery6.png"  style="max-width:100%"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 accessory" ><h5 class="btn-acc" @click="vkladysh=!vkladysh">Вкладыши</h5></div>
    <div class="container-fluid" v-if="vkladysh">
        <div class="row">
            <div class="col-lg-2">
                <img src="vk1.png" style="max-width:100%" />
            </div>
            
            <div class="col-lg-2">
                <img src="vk2.png" style="max-width:100%" />
            </div>
            
            <div class="col-lg-2">
                <img src="vk3.png" style="max-width:100%" />
            </div>
            
            <div class="col-lg-2">
                <img src="vk4.png" style="max-width:100%" />
            </div>
            
            <div class="col-lg-2">
                <img src="vk5.png" style="max-width:100%" />
            </div>
        </div>
        <br>
        <p>В нашем центре Вы можете изготовить индивидуальные вкладыши из гипоаллергенных материалов (Акрилловые или силиконовые).  Индивидуальный вкладыш изготавливается по индивидуальному заказу на основании взятого размера ушного прохода пациента.</p>
        <br>
        <div class="row">
            <div class="col-lg-8">
                <p>Индивидуальный вкладыш поможет Вам предотвратить :</p>
                
                <p>- появление свиста (обратная связь) аппарата на ухе;</p>
                
                <p>- надежная фиксация аппарата на ухе, это защитит аппарат от потери.</p>
                
                <p>- удобство в пользовании и ношении аппарата.</p>
            </div>
            <div class="col-lg-2">
                <img src="vk6.png" style="max-width:100%" />                
            </div>
        </div>
        <br>
        <p>Стандартные ушные вкладыши представлены в 5 размерах. Размер и тип стандартного вкладыша определяется специалистом по слухопретезированию на основание осмотра и подбирается индивидуально.</p>
        <p>
Данные вкладыши необходимо менять 1 раз в несколько месяцев, т.к. они со временем теряют свою эластичность и доставляют дискомфорт при носке слухового аппарата в виде появившегося свиста (обратная связь), натирание слухового прохода.</p>
    </div>
    <div class="col-lg-6 accessory" ><h5 class="btn-acc" @click="tabletki=!tabletki">Таблетки для сушки слуховых аппаратов</h5></div>
    <div class="container-fluid" v-if="tabletki">
        <div class="row">
            <div class="col-lg-2">
                <img src="tabletka.png" style="max-width:100%">
            </div>
            <div class="col-lg-6" style="margin-top:20px">
                <p>Таблетки для сушки – необходимое средство для правильного ухода за слуховым аппаратом. Микрокапли воды из воздуха и пот существенно сокращают срок службы прибора, а в составе капсул имеется силикагель, который поглощает влагу, осевшую на приборе за время ношения. Такая сушка нужна как для внутриушных, так и для заушных конструкций.</p>                
            </div>
        </div>
    </div>
    <div class="col-lg-6 accessory" ><h5 class="btn-acc" @click="camera=!camera">Сушильная камера</h5></div>
    <div class="container-fluid" v-if="camera" style="padding:10px">
        <div class="row">
            <div class="col-lg-2">
                <img src="camera.png" style="max-width:100%">
            </div>
            <div class="col-lg-6" style="margin-top:20px">
                <p>Сушильная камера внешне похожа на шкатулку, куда кладут слуховые аппараты. Устройство осуществляет сушку с помощью нагревательного элемента, который повышает температуру в камере и заставляет влагу испаряться, плюс к этому имеется вентилятор для большей эффективности. Сушильная камера поддерживает необходимую температуру на нужном уровне и потребляет минимум энергии, подключается к обычной розетке. Время сушки можно выставить на 3 или 6 часов, в зависимости от ситуации и необходимости.</p>                
            </div>
        </div>
    </div>
    <div class="col-lg-6 accessory" ><h5 class="btn-acc" @click="dez=!dez">Дезинфицирующие таблетки</h5></div>
    <div class="container-fluid" v-if="dez" style="padding:10px">
        <div class="row">
            <div class="col-lg-2">
                <img src="tabl.png" style="max-width:100%">
            </div>
            <div class="col-lg-6" style="margin-top:20px">
                <p>OtoVita – продукция для современного антимикробного ухода.</p>                
                <p>Ежедневный уход со средствами OtoVitа продлевает срок службы наушников, индивидуальных вкладышей, берушей и насадок, защищает их от бактерий и грибков. Использование средств OtoVita снижает риск возникновения инфекции и воспаления уха. Продукция OtoVita не только очищает, но и дезинфицирует индивидуальные средства защиты слуха, индивидуальные ушные вкладыши. Все средства по уходу серии OtoVita поставляются в упаковках в количестве, достаточном для регулярного применения в течение одного месяца.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 accessory" ><h5 class="btn-acc" @click="fix=!fix">Фиксаторы для слуховых аппаратов </h5></div>
    <div class="container-fluid" v-if="fix" style="padding:10px">
        <div class="row">
            <div class="col-lg-2">
                <img src="fix.png" style="max-width:100%">
            </div>
            <div class="col-lg-6" style="margin-top:20px">
                <p>С помощью силиконовых колец фиксаторы располагаются на корпусах слуховых аппаратов, а специальный зажим закрепляется на элементах одежды (ворот, карман и пр.). Таким образом, вы получаете дополнительную уверенность в том, что ваши аппараты не потеряются, когда вы снимаете одежду или совершаете резкие движения</p>                
            </div>
        </div>
    </div>
    <div class="col-lg-6 accessory" style="padding:5px"><h5 class="btn-acc" @click="widex=!widex">WIDEX ФИЛЬТРЫ</h5></div>   
    <div class="container-fluid" v-if="widex" style="padding:10px">
        <div class="row">
            <div class="col-lg-2">
                <img src="widex.png" style="max-width:100%">
            </div>
            <div class="col-lg-6" style="margin-top:20px">
                <p>Серные фильтры NanoCare надёжно защищают слуховые аппараты от влаги и серы.</p>
                <p>В набор входит 8 серных фильтров, расположенных на специальных держателях. С помощью этих держателей удобно устанавливать и снимать серный фильтр с фиксатора на ресивере или звуководе.</p>                
            </div>
        </div>
    </div>
        <div class="row" style="margin-top:3%;background-color:#3618AF">
      <div
        class="col-lg-12"
        style="padding-top:5%;height:400px;"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8" style="text-align:center">
              <h3 style="color:white">ЗАПИШИТЕСЬ НА БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ И НАЧНИТЕ СЛЫШАТЬ ПО НОВОМУ!</h3>
            </div>
          </div>
          <div class="form-group row justify-content-center" style="padding-top:4%">
            <input type="text" class="col-lg-3 col-sm-12 form-control" placeholder="ВАШЕ ИМЯ" v-model="user.name"/>
          </div>
          <div class="form-group row justify-content-center">
            <input type="text" class="col-lg-3 col-sm-12 form-control" placeholder="ВАШ НОМЕР" v-model="user.phone" />
          </div>
          <div class="form-group row justify-content-center">
            <button
            @click.prevent="send"
              type="submit"
              style="font-size:18px;padding:7px 25px;background-color:#FFF500;color:black;border-radius:10px;border-style: none;"
            >Отправить</button>
          </div>
        </div>
      </div>
    </div> 
</div>
</template>
<script>
export default{
data(){
    return {
        vkladysh:false,
        battery:false,
        tabletki:false,
        camera:false,
        dez:false,
        fix:false,
        widex:false,
        uslugi:'',
        user:{
                name:'',
                phone:''
            }
    }
},methods:{
            send(){
          console.log(this.user)
            this.$http.post('http://localhost:8000/api/mail',{content:this.user}).then(
                response=>{
                console.log(response)
                }
            )
            }
}
}
</script>
<style>
.accessory{
    border-top:2px solid #3618AF;
    padding:5px
}
.btn-acc{
    cursor: pointer;
    color:#3618AF
}
</style>