<template>
<div class="containner-fluid" style="padding:0 3% !important">
<header-nav style="margin-top:10px"></header-nav>
<router-view style="margin-top:10px"></router-view>
    <div class="container-fluid" style="margin-top:3%">
      <div class="row">
        <div class="col-lg-3 offset-lg-1">
          <h4 style="color:#3618AF">О компании</h4>
          <img src="rect.png" style="height:10px"/>
          <p style="color:#3618AF">ТОО "Звук PLUS" на протяжении многих лет занимается квалифицированным подбором и продажей слуховых аппаратов от мировых производителей. Прием ведут опытные специалисты в области слухопротезирования
          </p>
        </div>
        <div class="col-lg-3 offset-lg-5">
          <h4 style="color:#3618AF">Контакты</h4>
          <img src="rect.png" style="height:10px"/>
          <p style="color:#3618AF"><strong>Адрес:</strong>г Тараз ул Пушкина 29</p>
          <p style="color:#3618AF"><strong>График работы:</strong>
          пн-пт с 10:00 - 17:00 <br>
          без перерыва на обед 
          сб-вс по записи

          </p>
           <p style="color:#3618AF"><strong>Телефоны:</strong> 8(776) 616 22 11 <br>8(7262) 55 80 22</p>          
            <div class="row">
              <div class="col-lg-2"><img src="insta.png" style="max-width:100%;cursor:pointer"/></div>
              <div class="col-lg-2"><img src="facebook.png" style="max-width:100%;cursor:pointer"/></div>
              <div class="col-lg-2"><img src="whatsapp.png" style="max-width:100%;cursor:pointer"/></div>
            </div>
        </div>
        
      </div>
      <div class="row" style="margin-top:1%">
          <div class="col-lg-12" style="background-color:#3618AF;color:white;text-align:center">
              ТОО “ЗВУК PLUS”  © Все права защищены.
          </div>
      </div>
    </div>
</div>
</template>
<script>
import Header from './header'
export default{
    data(){
        return{
        
            
        }
    },
    components:{
        'header-nav':Header
    }
    
}
</script>
<style>
html,body{
    overflow-x:hidden;
    font-family:'Roboto';
}
</style>
