<template>
<div class="container-fluid">
    <div class="row" style="margin-top:3%">
        <div class="col-lg-5 offset-lg-1">
            <strong style="font-size:1.5rem;color:#3618AF">Слуховые аппараты в г.Тараз ТОО “ЗВУК PLUS”</strong>
            <p style="font-size:1.5rem;color:#3618AF;"><strong>Адрес :</strong> г Тараз ул Пушкина 29</p>
            <p style="font-size:1.5rem;color:#3618AF;"><strong>График работы :</strong> пн-пт с 10:00 - 17:00
без перерыва на обед 
сб-вс по записи</p>
<p style="font-size:1.5rem;color:#3618AF;"><strong>Телефоны :</strong>  8(776) 616 22 11 
 8(7262) 55 80 22</p>
       </div>
       <div class="col-lg-5">
            <img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor:33089b084dbd8fb0bdb738d4fb0207b9dbf2d5aa51c2f239d2f6f592af3dce8a&amp;width=600&amp;height=400&amp;lang=ru_UA&amp;scroll=true" style="max-width:100%"/>
       </div>
    </div>
        <div class="row" style="margin-top:3%;background-color:#3618AF">
      <div
        class="col-lg-12"
        style="padding-top:3%;height:400px;"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8" style="text-align:center">
              <h3 style="color:white">У ВАС НЕТ ВОЗМОЖНОСТИ ПРИЕХАТЬ К НАМ? НЕ ПРОБЛЕМА, У НАС ЕСТЬ ВЫЕЗД НА ДОМ</h3>
            </div>
          </div>
          <div class="form-group row justify-content-center" style="padding-top:4%">
            <input type="text" class="col-lg-3 col-sm-12 form-control" placeholder="ВАШЕ ИМЯ" v-model="user.name"/>
          </div>
          <div class="form-group row justify-content-center">
            <input type="text" class="col-lg-3 col-sm-12 form-control" placeholder="ВАШ НОМЕР" v-model="user.phone"/>
          </div>
          <div class="form-group row justify-content-center">
            <button
              type="submit"
              @click.prevent="send"
              style="font-size:18px;padding:7px 25px;background-color:#FFF500;color:black;border-radius:10px;border-style: none;"
            >Отправить</button>
          </div>
        </div>
      </div>
    </div> 
</div>
</template>
<script>
export default {
      data(){
        return {
            user:{
                name:'',
                phone:''
            }
        }
    },methods:{
        send(){
          console.log(this.user)
            this.$http.post('http://localhost:8000/api/mail',{content:this.user}).then(
                response=>{
                console.log(response)
                }
            )
            }
    }
};
</script>
<style scoped>
@media screen and (max-width: 1024px) {
  img {
    width: 100% !important;
  }
}
</style>
