<template>
  <div>
    <div
      id="carouselExampleIndicators"
      class="carousel slide col-lg-11"
      data-ride="carousel"
      style="justify-content:space-between;flex: 1;
  margin: auto !important;
  display: flex;"
    >
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100 aid" src="aids.png" alt="First slide" />
          <div class="carousel-caption" style="background:rgb(255,0,0,0.67);border-radius:20px;">
            <h3 class="d-none d-md-block" style="padding: 7% 0;">Уже давно откладываете покупку?</h3>
            <h3 class="d-none d-md-block">Приобретайте слуховые аппараты в кредит или в рассрочку!</h3>
            <button
              type="button"
              style="font-size:20px;padding:1% 5%;margin-top:7%;color:#FF0000;backround-color:white;border-radius:40px;"
            >Купить сейчас</button>
          </div>
        </div>
        <!--
      <div class="carousel-item">
        <img class="d-block w-100 aid" src="aids.png" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 aid" src="aids.png" alt="Third slide">
      </div>
        -->
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <h4 style="text-align:center;margin-top:7%;color:#3618AF">Почему выбирают нас?</h4>
    <div class="container" style="margin-top:4%">
      <div class="row" style="justify-content:space-between">
        <div class="col-lg-3" style="text-align: center;">
          <img src="11.png" style="max-width:100%;height:auto" />
          <h4 style="color:#3618AF;text-align:center;margin-top:2%">Гарантия качества</h4>
        </div>
        <div class="col-lg-3" style="text-align: center;">
          <img src="5.png" style="max-width:100%;height:auto" />

          <h4
            style="color:#3618AF;text-align:center;margin-top:2%"
          >Индивидуальный подбор и настройка</h4>
        </div>
        <div class="col-lg-3" style="text-align: center;">
          <img src="7.png" style="max-width:100%;height:auto" />

          <h4
            style="color:#3618AF;text-align:center;margin-top:2%"
          >Широкий ассортимент от мировых производителей</h4>
        </div>
      </div>
      <div class="row" style="margin-top:3%;justify-content:space-between">
        <div class="col-lg-3" style="text-align: center;">
          <img src="10.png" style="max-width:100%;height:auto" />
          <h4 style="color:#3618AF;text-align:center;margin-top:2%">Выдача в рассрочку и в кредит</h4>
        </div>
        <div class="col-lg-3" style="text-align: center;">
          <img src="9.png" style="max-width:100%;height:auto" />

          <h4 style="color:#3618AF;text-align:center;margin-top:2%">Бесплатная диагностика</h4>
        </div>
        <div class="col-lg-3" style="text-align: center;">
          <img src="8.png" style="max-width:100%;height:auto" />

          <h4 style="color:#3618AF;text-align:center;margin-top:2%">Бесплатный выезд на дом</h4>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:5%">
      <div
        class="col-lg-12 col-xs-12"
        style="padding-top:10%;background-image:url(kulak.jpg); background-repeat: no-repeat;background-position: center center;background-size: cover;height:550px;"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8" style="text-align:center">
              <h2 style="color:white">Запишитесь на бесплатную консультацию</h2>
            </div>
          </div>
          <div class="form-group row justify-content-center" style="padding-top:4%">
            <input type="text" class="col-lg-3 col-sm-12 form-control" placeholder="ВАШЕ ИМЯ" v-model="user.name" />
          </div>
          <div class="form-group row justify-content-center">
            <input type="text" class="col-lg-3 col-sm-12 form-control" placeholder="ВАШ НОМЕР" v-model="user.phone"/>
          </div>
          <div class="form-group row justify-content-center">
            <button
              type="submit"
              @click.prevent="send"
              style="font-size:18px;padding:7px 25px;background-color:#FFF500;color:black;border-radius:10px;border-style: none;"
            >Отправить</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="background-color:#FFF9F9;padding-top:5%;padding-bottom:5%">
    <h4 style="text-align:center;color:#3618AF">ОТЗЫВЫ ВЗРОСЛЫХ И ДЕТЕЙ</h4>
    <div class="container" style="margin-top:3%" >
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-4" style="text-align: center;">
                <img src="10.png" style="max-width:100%"/>
              </div>
              <div class="col-lg-8">
                <h5>Имя,возраст</h5>
                Переболела гриппом, заметилsа, что стала хуже слышать. Доктор сказал, что слух не восстановится и посоветовал приобрести слуховой аппарат. Купила "Siеmens Pure 301". Аппарат очень маленький, с пультом управления. Можно говорить даже по телефону, не поднося трубку к уху
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-4" style="text-align: center;">
                <img src="10.png" style="max-width:100%"/>
              </div>
              <div class="col-lg-8">
                <h5>Имя,возраст</h5>
                Переболела гриппом, заметилsа, что стала хуже слышать. Доктор сказал, что слух не восстановится и посоветовал приобрести слуховой аппарат. Купила "Siеmens Pure 301". Аппарат очень маленький, с пультом управления. Можно говорить даже по телефону, не поднося трубку к уху
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top:3%">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-4" style="text-align: center;">
                <img src="10.png" style="max-width:100%"/>
              </div>
              <div class="col-lg-8">
                <h5>Имя,возраст</h5>
                Переболела гриппом, заметилsа, что стала хуже слышать. Доктор сказал, что слух не восстановится и посоветовал приобрести слуховой аппарат. Купила "Siеmens Pure 301". Аппарат очень маленький, с пультом управления. Можно говорить даже по телефону, не поднося трубку к уху
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-4" style="text-align: center;">
                <img src="10.png" style="max-width:100%"/>
              </div>
              <div class="col-lg-8">
                <h5>Имя,возраст</h5>
                Переболела гриппом, заметилsа, что стала хуже слышать. Доктор сказал, что слух не восстановится и посоветовал приобрести слуховой аппарат. Купила "Siеmens Pure 301". Аппарат очень маленький, с пультом управления. Можно говорить даже по телефону, не поднося трубку к уху
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>

  </div>
</template>
<script>
import Http from '../Http.js';
export default {
      data(){
        return {
            user:{
                name:'',
                phone:''
            }
        }
    },methods:{
        send(){
          console.log(this.user)
            this.$http.post('api/mail',{content:this.user}).then(
                response=>{
                console.log(response)
                }
            )
            }
    }
};
</script>
<style>
.carousel-caption {
  transform: translateY(-50%);
  bottom: 0;
  top: 50%;
}
</style>