<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12" style="text-align:center">
        <div id="instafeed" class="row gallery"></div>
      </div>
    </div>
    <hr style="background-color:#3618AF;font-size:20px;height:1px" />
    <div class="row" style="margin-top:3%">
      <div class="col-lg-4 offset-lg-1" style="text-align:center">
        <img src="stat2.png" style="max-width:100%" />
        <h5 style="color:#3618AF">Название видео</h5>
      </div>

      <div class="col-lg-4 offset-lg-1" style="text-align:center">
        <img src="stat2.png" style="max-width:100%" />
        <h5 style="color:#3618AF">Название видео</h5>
      </div>
    </div>

    <hr style="background-color:#3618AF;font-size:20px;height:1px;margin-top:3%" />

    <h5 style="color:#3618AF;margin-top:3%">Какие бывают типы слуховых аппаратов?</h5>
    <div class="row" style="margin-top:2%">
      <div class="col-lg-1">
        <img src="stat3.png" style="max-width:100%" />
      </div>
      <div class="col-lg-11">
        <p style="font-weight:600">CIC (Глубокий внутрикальный слуховой аппарат)</p>
        <p>
          Эти аппараты являются самыми маленькими по размеру. Они могут быть почти незаметны в ухе,
          но некоторые пациенты с большой потерей слуха или маленьким слуховым проходом не могут их использовать.
        </p>
      </div>
    </div>
    <div class="row" style="margin-top:2%">
      <div class="col-lg-1">
        <img src="stat4.png" style="max-width:100%" />
      </div>
      <div class="col-lg-11">
        <p style="font-weight:600">ITC (Внутриканальные слуховые аппараты)</p>
        <p>
          Эти слуховые аппараты нескольк больше по размеру, чем CIC и занимают несколько большее место в слуховом
          проходе. Некоторым людям с ними легче манипулировать, в то же время они по прежнему небольшого размера.
        </p>
      </div>
    </div>
    <div class="row" style="margin-top:2%">
      <div class="col-lg-1">
        <img src="stat5.png" style="max-width:100%" />
      </div>
      <div class="col-lg-11">
        <p style="font-weight:600">ITE (Внутриушные слуховые аппараты)</p>
        <p>
          Эти индивидуальные аппараты полностью занимают пространство Вашего уха, они чаще
          используются для более тяжелых потерей слуха
        </p>
      </div>
    </div>
    <div class="row" style="margin-top:2%">
      <div class="col-lg-1">
        <img src="stat6.png" style="max-width:100%" />
      </div>
      <div class="col-lg-11">
        <p style="font-weight:600">BTE (Заушные слуховые аппараты) с вкладышем</p>
        <p>
          Аппараты данного типа находятся за ухом. Отдельная часть, называемая индивидуальным вкладышем, сделана,
          чтобы заполнить контур Вашего уха и проводить звук в слуховой проход. Несмотря на то, что заушные аппараты
          выглядят несколько больше, чем аппараты других типов, они часто могут быть скрыты за волосами, и они
          могут давать большее усиления и предоставлять большие возможности, чем внутриушные модели.
          Заушные слуховые аппараты подойдут покупателям предпочитающим высокое качество.
        </p>
      </div>
    </div>
    <div class="row" style="margin-top:3%;background-color:#3618AF">
      <div class="col-lg-12" style="padding-top:4%;height:400px;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8" style="text-align:center">
              <h3 style="color:white">ЗАПИШИТЕСЬ НА БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ
И НАЧНИТЕ СЛЫШАТЬ МИР ПО НОВОМУ!</h3>
            </div>
          </div>
          <div class="form-group row justify-content-center" style="padding-top:4%">
            <input type="text" class="col-lg-3 col-sm-12 form-control" placeholder="ВАШЕ ИМЯ" v-model="user.name"/>
          </div>
          <div class="form-group row justify-content-center">
            <input type="text" class="col-lg-3 col-sm-12 form-control" placeholder="ВАШ НОМЕР"  v-model="user.phone" />
          </div>
          <div class="form-group row justify-content-center">
            <button
              type="submit"
              @click.prevent="send"
              style="font-size:18px;padding:7px 25px;background-color:#FFF500;color:black;border-radius:10px;border-style: none;"
            >Отправить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import '../js/jquery.min.js'
import Instafeed from 'instafeed.js'




export default {
      created(){
        $(document).ready(function() {


    var userFeed = new Instafeed({
        get: 'user',
        userId: '6213914581',
        limit: 300,
        resolution: 'standard_resolution',
        accessToken: '6213914581.1677ed0.f21408abbca14c4996b27c31aae88968',
        sortBy: 'most-recent',
        template: '<div class="col-lg-3 instaimg"><a href="{{image}}" title="{{caption}}" target="_blank"><img src="{{image}}" alt="{{caption}}" class="img-fluid"/></a></div>',
    });


    userFeed.run();

    
    // This will create a single gallery from all elements that have class "gallery-item"
    $('.gallery').magnificPopup({
        type: 'image',
        delegate: 'a',
        gallery: {
            enabled: true
        }
    });


});
      },
      data(){
        return {
            user:{
                name:'',
                phone:''
            }
        }
    },methods:{
        send(){
          console.log(this.user)
          Email.send({
	SecureToken:'804ca50e-7ad1-43d9-a37f-a5f806b49601',
    To : '150107084@stu.sdu.edu.kz',
    From : "yedigebaltabekov@gmail.com",
    Subject : "This is the subject",
    Body : "And this is the body"
}).then(
  message => alert(message)
);
            }
    }
};
</script>
<style scoped>
@media screen and (max-width: 1024px) {
  img {
    width: 100% !important;
  }
}
</style>