<template>
<div class="container-fluid">
    <h4 style="text-align:center;color:#3618AF">НАШИ УСЛУГИ</h4>
    <div class="row">
        <div class="col-lg-5 offset-lg-1">
            <div class="row">
                <div class="col-lg-3" style="text-align: center;">
                    <img src="wrench.png" style="max-width:100%;"  class="img-responsive">
                    <h5 style="text-align:center;color:#3618AF">РЕМОНТ</h5>
                </div>
                <div class="col-lg-7"><p style="margin-top:20px">Если у вас или у ваших близких вышел из строя слуховой аппарат,то вы можете принести его на ремонт вне зависимости от фирмы производителя.
</p></div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-3" style="text-align: center;">
                    <img src="6.png" style="max-width:100%">
                    <h5 style="text-align:center;color:#3618AF">НАСТРОЙКА</h5>
                </div>
                <div class="col-lg-7"><p style="margin-top:20px">Слуховой аппарат не так прост, как кажется
это высокотехнологичное устройство с микропроцессором
В связи с особенностями потери слуха необходима индивидуальная настройка для качественного звучания
</p></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:3%">
        <div class="col-lg-1 offset-lg-2 justify-content-center" style="text-align: center;">
            <img src="9.png" style="max-width:100%;">
            <h5 style="text-align:center;color:#3618AF">Бесплатная диагностика</h5>
        </div>
        <div class="col-lg-1 offset-lg-1" style="text-align: center;">
            <img src="3.png" style="max-width:100%">
            <h5 style="text-align:center;color:#3618AF">Сервисное обслуживание</h5>
        </div>
        <div class="col-lg-1 offset-lg-1" style="text-align: center;">
            <img src="4.png" style="max-width:100%">
            <h5 style="text-align:center;color:#3618AF">Бесплатный подбор СА</h5>
        </div>
        <div class="col-lg-1 offset-lg-1" style="text-align: center;">
            <img src="q.png" style="max-width:100%">
            <h5 style="text-align:center;color:#3618AF">Изготовление индивидуальных вкладышей</h5>
        </div>
    </div>
    <div class="row" style="margin-top:3%;background-color:#3618AF">
      <div
        class="col-lg-12"
        style="padding-top:5%;height:400px;"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8" style="text-align:center">
              <h3 style="color:white">СЛОМАЛСЯ СЛУХОВОЙ АППАРАТ?</h3>
            </div>
          </div>
          <div class="form-group row justify-content-center" style="padding-top:4%">
            <input type="text" class="col-lg-3 col-sm-12 form-control" placeholder="ВАШЕ ИМЯ" v-model="user.name"/>
          </div>
          <div class="form-group row justify-content-center">
            <input type="text" class="col-lg-3 col-sm-12 form-control" placeholder="ВАШ НОМЕР" v-model="user.phone"/>
          </div>
          <div class="form-group row justify-content-center">
            <button
              type="submit"
              @click.prevent="send"
              style="font-size:18px;padding:7px 25px;background-color:#FFF500;color:black;border-radius:10px;border-style: none;"
            >Отправить</button>
          </div>
        </div>
      </div>
    </div> 
</div>
</template>
<script>
export default {
      data(){
        return {
            user:{
                name:'',
                phone:''
            }
        }
    },methods:{
        send(){
          console.log(this.user)
            this.$http.post('http://localhost:8000/api/mail',{content:this.user}).then(
                response=>{
                console.log(response)
                }
            )
            }
    }
};
</script>
<style>
@media screen and (max-width: 1024px) {
  img {
    width:50% !important;

  }
}
</style>