<template>
<div class="container-fluid" style="background-color:#3618AF;height:100%">
    <div class="row justify-content-center" style="padding-top:8%;text-align:center">
        <h5 class="col-lg-10" style="color:white">Оставьте свои контактные данные
 и мы с Вами свяжемся</h5> 
    </div>
     <div class="form-group row justify-content-center" style="padding-top:4%">
            <input type="text" v-model="user.name" class="col-lg-8 col-sm-5 form-control" placeholder="ВАШЕ ИМЯ" />
    </div>
    <div class="form-group row justify-content-center">
        <input type="text" v-model="user.phone" class="col-lg-8 col-sm-12 form-control" placeholder="ВАШ НОМЕР" />
    </div>
    <div class="form-group row justify-content-center">
            <button
              @click.prevent="send"
              type="submit"
              style="font-size:18px;padding:7px 25px;background-color:#FFF500;color:black;border-radius:10px;border-style: none;"
            >Отправить</button>
    </div>
</div>
</template>
<script>
export default{
    data(){
        return {
            user:{
                name:'',
                phone:''
            }
        }
    },methods:{
        send(){
            this.$http.post('http://localhost:8000/api/mail',{content:this.user}).then(
                response=>{
                console.log(response)
                }
            )
            }
    }
}
</script>
